.column{
  background-color: #F6F6F6;
  &__container{

  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    width: calc(100% + 30px);
    @media all and (max-width: $maxwindow){
      width: calc(100% + px(30));
      margin-right: px(-30);
    }
  }
  &__item{
    width: calc(25% - 30px);
    margin-right: 30px;
    padding: 20px 0;
    @media all and (max-width: $maxwindow){
      width: calc(25% - px(30));
      margin-right: px(30);
      padding: px(20) 0;
    }
    &-desc{
      strong{
        font-weight: 800;
      }
      p{
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #666666;
        @media all and (max-width: $maxwindow){
          font-size: px(13);
          line-height: px(20);
        }
      }
    }
    &-head{
      display: flex;
      align-items: center;
      margin-bottom: 14px;
      @media all and (max-width: $maxwindow){
        margin-bottom: px(14);
      }
      img{
        width: 70px;
        height: auto;
        margin-right: 15px;
        @media all and (max-width: $maxwindow){
          width: px(70);
          margin-right: px(15);
        }
      }
      h3{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        color: #005692;
        @media all and (max-width: $maxwindow){
          font-size: px(20);
          line-height: px(21);
        }
      }
    }
  }
}