.prefootter{
  background-color: #FFFFFF;
  height: 150px;
  @media all and (max-width: $maxwindow){
    height: px(150);
  }
  &__container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    a{
      display: inline-flex;
    }
  }
}
.footer{
  padding: 10px 0;
  background-color: #1C1C1B;
  @media all and (max-width: $maxwindow){
    padding: px(10) 0;
  }
  &__container{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    color: #FFFFFF;
    @media all and (max-width: $maxwindow){
      font-size: px(12);
    }
  }
}