@import "default";
@import "variables";
@import "mixins";
@import "grid";
@import "normalize";
@import "fonts";
//@import "selectric";
//@import "fresco";
@import "swiper-bundle";
//@import "aos";
$transition: 0.3s ease;
$maxwindow: 1920px;
:root{
  scroll-behavior: smooth;
}
// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  font-size: 10px;
  scroll-behavior: initial;
}

body{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .site{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &.locked{
    height: 100vh;
    overflow: hidden;
    @media all and (max-width: 500px){
      height: auto;
    }
    &:before{
      pointer-events: all;
      opacity: 1;
    }
  }
  &:before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    transition: 0.3s ease-in-out;
  }
  .site{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main{
    flex: 1;
  }
}
img{
  max-width: 100%;
}
.main{
  &__breadcrumbs{
    height: 66px;
    background-color: #F6F6F6;
    margin-bottom: 20px;
    @media all and (max-width: $maxwindow){
      height: px(66);
      margin-bottom: px(20);
    }
    .main-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .left{
        font-size: 30px;
        @media all and (max-width: $maxwindow){
          font-size: px(30);
        }
      }
      .right{
        font-size: 13px;
        @media all and (max-width: $maxwindow){
          font-size: px(13);
        }
      }
    }
  }
}
.padding-right{
  padding-right: 270px;
  @media all and (max-width: $maxwindow){
    padding-right: px(270);
  }
  @media all and (max-width: 1440px){
    padding-right: px(125);
  }
  @media all and (max-width: 1280px){
    padding-right: px(100);
  }
  @media all and (max-width: 1024px){
    padding-right: px(75);
  }
  @media all and (max-width: 768px){
    padding-right: px(50);
  }
  @media all and (max-width: 500px){
    padding-right: px(20);
  }
}
.padding-left{
  padding-left: 270px;
  @media all and (max-width: $maxwindow){
    padding-left: px(270);
  }
  @media all and (max-width: 1440px){
    padding-left: px(125);
  }
  @media all and (max-width: 1280px){
    padding-left: px(100);
  }
  @media all and (max-width: 1024px){
    padding-left: px(75);
  }
  @media all and (max-width: 768px){
    padding-left: px(50);
  }
  @media all and (max-width: 500px){
    padding-left: px(20);
  }
}
p{
  font-size: 13px;
  color: #666666;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: normal;
  text-align: center;
  @media all and (max-width: $maxwindow){
    font-size: px(13);
    margin-bottom: px(20);
  }
}
.main-container{
  max-width: $maxwindow;
  margin: auto;
  width: 100%;
  @extend .padding-left;
  @extend .padding-right;
}
.section-title{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 30px;
  color: #005692;
  margin-bottom: 15px;
  text-align: center;
    @media all and (max-width: $maxwindow){
      font-size: px(48);
      line-height: px(30);
      margin-bottom: px(15);
    }
  &.border{
    padding-bottom: 20px;
    position: relative;
    @media all and (max-width: $maxwindow){
      padding-bottom: px(20);
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: calc(50% - 280px);
      width: 560px;
      height: 1px;
      background-color: #D0D0D0;
      @media all and (max-width: $maxwindow){
        width: px(560);
        left: calc(50% - px(280));
      }
    }
  }
 }
.section-undertitle{
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 10px;
  @media all and (max-width: $maxwindow){
    font-size: px(31);
    line-height: px(40);
    margin-bottom: px(10);
  }
}
.section-subtitle{
  font-size: 13px;
  color: #666666;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: normal;
  text-align: center;
  @media all and (max-width: $maxwindow){
    font-size: px(13);
    margin-bottom: px(20);
  }
}

a{
  color: #1A2B50;
}
.wpcf7-form{
  input:focus {
    //background-color: lightblue;
  }
  label{
    position: relative;
    .placeholder{
      top: -10px;
      left: 0;
      font-size: 12px;
    }
  }
  .wpcf7-not-valid{
    border: 1px solid #114BC8;
  }
  .wpcf7-not-valid-tip{
    position: absolute;
    background-color: #114BC8;
    color: white;
    border-radius: 20px;
    bottom: -30px;
    top: auto!important;
    left: 48px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 12px;
    width: auto;
    @media all and (max-width: $maxwindow){
      bottom: px(-30);
      left: px(48);
      height: px(22);
      padding: 0 px(20);
      font-size: px(12);
    }
    @media all and (max-width: 500px){
      font-size: px(10);
      height: px(18);
      left: auto;
      right: px(10);
      bottom: px(-20);
    }
  }
}

.wpcf7-response-output, .wpcf7-spinner{
  display: none!important;
}
.wpcf7-form{
  input.wpcf7-submit:focus{
    background-color: #417dff;
  }
}

.button{
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @media all and (max-width: $maxwindow){
    padding: px(8) px(20);
  }
  &-blue{
    background-color: #005692;
    span{
      color: #FFFFFF;
    }
  }
  span{
    font-size: 14px;
    @media all and (max-width: $maxwindow){
      font-size: px(14);
    }
  }
  svg{
    margin-left: 6px;
    @media all and (max-width: $maxwindow){
      margin-left: px(6);
    }
  }
}


@import "templates/preloader";
@import "templates/header";
@import "templates/banner";
@import "templates/column";
@import "templates/works";
@import "templates/design";
@import "templates/product";
@import "templates/services";
@import "templates/comments";
@import "templates/all-portfolio";
@import "templates/contacts";
@import "templates/404";
@import "templates/footer";


